<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets "@DocumentBundle/Resources/public/styles/doctrinaire.css" %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav>
            <h1>Cabinet</h1>
            <ul>
                <li><a href="{{ path("list") }}">Search</a></li>
                <!--<li><a title="Coming Someday">Tags</a></li>-->
                <li><a href="{{ path("new") }}">Upload</a></li>
            </ul>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
