{% extends "base.html.twig" %}
{% block body %}
	<h2>{{ document.title }}</h2>
    <div class="toolbar"><a href="{{ url("open",{id:document.id}) }}" class="button">Open</a><a href="{{ url("download",{id:document.id}) }}" class="button">Download</a><a href="{{ url("edit",{id:document.id}) }}" class="button">Edit</a></div>
	<div class="date">{{ document.timestamp|date("Y M d") }}</div>
	<div class="description">{{ document.description }}</div>
    <div class="tags">
	{% for tag in document.tags %}
		<div class="tag">{{ tag.name }}</div>
	{% endfor %}
    </div>
    {% if document.preview %}
        <object class="document" data="data:application/pdf;base64,{{ document.content.data }}" type="application/pdf" width="100%" height="775px">
        </object>
    {% endif %}
{% endblock %}
