{% extends "base.html.twig" %}
{% block body %}
<ul class="doclist">
{% for document in documents %}
	<li><a href="{{ path("display",{"id":document.id}) }}" title="{{ document.description }}">{{ document.title }}</a> <span class="date">{{ document.timestamp|date("Y M d") }}</span>
        <div class="tags">
            {% for tag in document.tags %}
                <div class="tag">{{ tag.name }}</div>
            {% endfor %}
        </div>
    </li>
{% endfor %}
</ul>
{% endblock %}
