html{
    font-family: "Lucida Sans","Lucida Grande",Lucida,Verdana,sans-serif;
    background:#ddd;
    color:#666;
    margin:0;
    padding:0;
}
body{
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6,.date{
    font-family:"Lucida Serif",Georgia,serif;
    margin:0;
}
a, a:visited{
    color:#88f;
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
    cursor:pointer;
}
nav{
    background:linear-gradient(#666,#444);
    border-bottom:3px solid #333;
    color:#ccc;
}
nav h1, nav ul, nav ul li{
    display:inline-block;
    margin:0;
    padding: 5px;
}
nav ul{
    list-style:none;
}
nav a, nav a:visited{
    color:#aaf;
}
nav a:hover{
    text-decoration:none;
    color:#88c;
}
a.button, a.button:visited, input[type="button"], input[type="submit"], button, select{
    background:linear-gradient(#666,#444);
    border:1px solid #333;
    color:#ccc;
    border-radius:3px;
    padding:3px 5px;
    margin:0 2px;
}
a.button:hover, input[type="button"]:hover, input[type="submit"]:hover, button:hover, select:hover{
    color:#aaf;
    cursor:pointer;
}
a.button:active, input[type="button"]:active, input[type="submit"]:active, button:active, select:active{
    background:linear-gradient(#444,#666);
    color:#888;
}
input[type="text"], input[type="file"], textarea{
    background:#fff;
    border-radius:3px;
    border:1px solid #ccc;
    padding:3px 5px;
    margin:0 2px;
}
input[type="text"]:focus, input[type="file"]:focus, textarea:focus{
    border-color:#88c;
}
.container{
    background:#eee;
    border:1px solid #ccc;
    margin:20px;
    padding:10px;
    position:relative;
}
form>div{
    display:table;
}
form>div>div{
    display:table-row;
}
form>div>div>*{
    display:table-cell;
}
form label{
    padding:5px 5px;
    font-weight:bold;
    text-align:right;
    vertical-align:top;
}
.date{
    text-transform:uppercase;
    font-size:80%;
}
.description{
    padding:20px 30px;
}
.doclist{
    list-style:none;
}
.doclist li{
    padding:5px 0;
}
.toolbar{
    position: absolute;
    right: 5px;
    top: 10px;
}
